*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
**/.terraform/*
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
crash.log
crash.*.log
.terraformrc
terraform.rc
*tfplan*
